
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.transition-container {
    animation: transitionIn 0.75s;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 01;
        transform: rotateX(0);
    }
}

body {
background-image:  linear-gradient(90deg, rgba(37,36,34,0.30575980392156865) 48%, rgba(37,36,34,1) 100100%),linear-gradient(180deg, rgba(37,36,34,0) 0%, rgba(0,0,0,0.30626450116009285) 87%),url(images/bg_home.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
height: 1000px;
}

/* header */
div.header {
    height: 116.5px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    align-items: center;
}

.home:visited, a.home:link{
color:#F4F3EE;
font-family: 'Roboto';
font-size: 18.6px;
text-decoration: none;
}

a.home:hover, a.home:active {
    color: #FAD02C; 
    transition: 0.35s;
}


.menu:visited, a.menu:link{
color:#F4F3EE;
font-family: 'Roboto';
font-size: 18.6px;
text-decoration: none;
}

a.menu:hover, a.menu:active {
    color: #FAD02C; 
    transition: 0.35s;
}

.about:visited, a.about:link{
color:#F4F3EE;
font-family: 'Roboto';
font-size: 18.6px;
text-decoration: none;
}

a.about:hover, a.about:active {
    color: #FAD02C; 
    transition: 0.35s;
}

.faq:visited, a.faq:link{
color:#F4F3EE;
font-family: 'Roboto';
font-size: 18.6px;
text-decoration: none;
}

a.faq:hover, a.faq:active {
    color: #FAD02C; 
    transition: 0.35s;
}

.bgcolor {
border: #1C1C1C 1px solid;
background-color: #1C1C1C;
}

.bg_body {
    display:flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width:680px;
    /* border: white solid 1px; */
}

.line1{
    /* border: #202020 1px solid; */
    display: flex;
    align-items: flex-end;
    font-size: 3.5vh;
    justify-content: center;
    
}
.body1 img {
    width:40px; 
    position: relative; 
    bottom: -6px;
    right: 10px;
}

.body1{
    /* border: 1px solid; */
    height: fit-content;
}

.body2{
    /* border: 1px solid black; */
    color:whitesmoke;
    font-family: 'League Spartan', sans-serif;
    height: fit-content;
    
}

.body3{
    /* border: 1px solid black; */
    color:#FAD02C;
    font-family: "Bebas Neue", sans-serif;
    height: fit-content;
    font-size: 65.4px;
    text-align: center;

}

.body4{ 
    /* border: 1px solid black;  */
    color:whitesmoke;
    font-family: 'League Spartan', sans-serif;
    font-size: 27px;
    text-align: center;
    
}
.caraouseltext p {
  width: 600px;
  height: fit-content;
   position: relative; 
   bottom: -500px; 
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 400px;
    gap: 5vw;
  
    > div {
      flex: 0 0 120px;
      border-radius: 0.5rem;
      transition: 0.5s ease-in-out;
      box-shadow: 1px 5px 15px #1C1C1C;
      position: relative;
      overflow: hidden;
  
      &:nth-of-type(1) {
        background: url("carousel/1\ \(1\).png")
          no-repeat 50% / cover;
      }
      &:nth-of-type(2) {
        background: url("carousel/1\ \(2\).png")
          no-repeat 50% / cover;
      }
      &:nth-of-type(3) {
        background: url("images/filfood2.jpg")
          no-repeat 50% / cover;
      }
      &:nth-of-type(4) {
        background: url("carousel/1\ \(7\).png")
          no-repeat 50% / cover;
      }
      &:nth-of-type(5) {
        background: url("carousel/first.png")
          no-repeat 50% / cover;
      }
  
      .content {
        font-size: 1.5rem;
        color: whitesmoke;
        font-family: "Roboto";
        display: flex;
        align-items: center;
        padding: 15px;
        opacity: 0;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        background: rgb(2, 2, 46);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.676) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        transform: translatey(100%);
        transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
        visibility: hidden;
  
        span {
          display: block;
          margin-top: 5px;
          font-size: 1.2rem;
        }
      }
  
      &:hover {
        flex: 0 0 250px;
        box-shadow: 1px 3px 15px black;
        transform: translatey(-30px);
      }
  
      &:hover .content {
        opacity: 1;
        transform: translatey(0%);
        visibility: visible;
        
      }
    }
  }

/* footer */
.footer {
    height: 129.5px;
    background-color: #202020;
    width: 100%;
    position: relative; 
    left: 0; 
    display: flex;
    flex-direction: column;

}

.image {
    width: fit-content;
    /* border: black solid 1px; */
    align-self:center;
    display: flex;
    gap:10px;
    margin-top:6px;
}

.sailors {
    /* border: black solid 1px; */
    height: fit-content;
    width: fit-content;
    color: #FAD02C;
    font-family: 'League Spartan', sans-serif;
    font-size: 35px;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;

}

.copyright {
    /* border: black solid 1px; */
    height: fit-content;
    width: fit-content;
    color: whitesmoke;
    font-family: 'Roboto';
    align-self: center;
    margin-top: 0px;

}

.footer1 {
    background-color: #0A0908;
    height: 29px;
    position: relative;
    color: aliceblue;
    text-align: center;
    padding: 5px;
    font-family: 'Roboto';


}

@media screen and (max-width: 785px) {
    body {
        background-image:  linear-gradient(90deg, rgba(37,36,34,0.30575980392156865) 48%, rgba(37,36,34,1) 100100%),linear-gradient(180deg, rgba(37,36,34,0) 0%, rgba(0,0,0,0.30626450116009285) 87%),url(images/bg_home.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 1000px;
        }

        .bg_body {
            display:flex;
            margin: auto;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 30px;
            width:60vh;
            /* border: white solid 1px; */
        }

.body1 img {
    width:40px; 
    position: relative; 
    bottom: -4px;
    right: 10px;
}
    
.line1{
    /* border: wheat 1px solid; */
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    position: relative;
}

.body2{
    /* border: 1px solid black; */
    color:whitesmoke;
    font-family: 'League Spartan', sans-serif;
    height: fit-content; 
}

.body3{
    /* border: 1px solid black; */
    color:#FAD02C;
    font-family: "Bebas Neue", sans-serif;
    height: fit-content;
    font-size: 43.4px;
    text-align: center;

}

.body4{ 
    /* border: 1px solid black;  */
    color:whitesmoke;
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    text-align: center;
    
}


/* Picture introduction */
.container {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 700px;
    gap: 20px;
  
    > div {
      flex: 0 0 120px;
      border-radius: 0.5rem;
      transition: 0.5s ease-in-out;
      box-shadow: 1px 5px 15px #1C1C1C;
      position: relative;
      overflow: hidden;
  
      &:nth-of-type(1) {
        background: url("carousel/1\ \(1\).png")
          no-repeat 50% / cover;
      }
      &:nth-of-type(2) {
        background: url("carousel/1\ \(2\).png")
          no-repeat 50% / cover;
      }
      &:nth-of-type(3) {
        background: url("images/filfood2.jpg")
          no-repeat 50% / cover;
      }
      &:nth-of-type(4) {
        background: url("carousel/1\ \(7\).png")
          no-repeat 50% / cover;
      }
      &:nth-of-type(5) {
        background: url("carousel/first.png")
          no-repeat 50% / cover;
      }
  
      .content {
        font-size: 1.5rem;
        color: whitesmoke;
        font-family: "Roboto";
        display: flex;
        align-items: center;
        padding: 15px;
        opacity: 0;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        background: rgb(2, 2, 46);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.676) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        transform: translatey(100%);
        transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
        visibility: hidden;
  
        span {
          display: block;
          margin-top: 5px;
          font-size: 1.2rem;
        }
      }
  
      &:hover {
        flex: 0 0 250px;
        box-shadow: 1px 3px 15px black;
        transform: translatey(-30px);
      }
  
      &:hover .content {
        opacity: 1;
        transform: translatey(0%);
        visibility: visible;
        
      }
    }
  }
}

@media screen and (max-width: 465px) {
    body {
        background-image:  linear-gradient(90deg, rgba(37,36,34,0.30575980392156865) 48%, rgba(37,36,34,1) 100100%),linear-gradient(180deg, rgba(37,36,34,0) 0%, rgba(0,0,0,0.30626450116009285) 87%),url(images/bg_home.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 1000px;
        }

        .bg_body {
            display:flex;
            margin: auto;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 30px;
            width:40vh; 
          }

          
.body1 img {
    width:23px; 
    position: relative; 
    bottom: -4px;
    right: 7px;
}
    
.line1{
    /* border: wheat 1px solid; */
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    position: relative;
}

.body2{
    /* border: 1px solid black; */
    color:whitesmoke;
    font-family: 'League Spartan', sans-serif;
    height: fit-content; 
}

.body3{
    /* border: 1px solid black; */
    color:#FAD02C;
    font-family: "Bebas Neue", sans-serif;
    height: fit-content;
    font-size: 28.4px;
    text-align: center;

}

.body4{ 
    /* border: 1px solid black;  */
    color:whitesmoke;
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    text-align: center;
    
    
}
}